<button class="material-icons" (click)="cancel()">
close
</button>

<div class="col-md-6 offset-md-3">
    <h3> Update Faculty </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Faculty Id</label>
            <input type="text" class ="form-control" id = "faculty_id"
                [(ngModel)] = "faculty.faculty_id" name = "faculty_id">
        </div>
        
         <div class="form-group">
            <label> First Name</label>
            <input type="text" class ="form-control" id = "first_name"
                [(ngModel)] = "faculty.first_name" name = "first_name">
        </div>
    
        <div class="form-group">
            <label> Last Name</label>
            <input type="text" class ="form-control" id = "last_name"
                [(ngModel)] = "faculty.last_name" name = "last_name">
        </div>
    
        <div class="form-group">
            <label> Email Id</label>
            <input type="text" class ="form-control" id = "email_id"
                [(ngModel)] = "faculty.email_id" name = "email_id">
        </div>
    
        <div class="form-group">
            <label> Phone No</label>
            <input type="text" class ="form-control" id = "phone_no"
                [(ngModel)] = "faculty.phone_no" name = "phone_no">
        </div>
    
        <div class="form-group">
            <label> Subject Id</label>
            <input type="text" class ="form-control" id = "subject_id"
                [(ngModel)] = "faculty.subject_id" name = "subject_id">
        </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 
