<button class="material-icons" (click)="cancel()">
close
</button>

  <div class="col-md-6 offset-md-3">
    <h3> Create Student </h3>
    <form (ngSubmit) = "onSubmit()">
<!--     
        <div class="form-group">
            <label>Student Id</label>
            <input type="text" class ="form-control" id = "student_id"
                [(ngModel)] = "student.student_id" name = "student_id">
        </div>
     -->
        <div class="form-group">
            <label> First Name</label>
            <input type="text" class ="form-control" id = "first_name"
                [(ngModel)] = "student.first_name" name = "first_name">
        </div>
    
        <div class="form-group">
            <label> Last Name</label>
            <input type="text" class ="form-control" id = "last_name"
                [(ngModel)] = "student.last_name" name = "last_name">
        </div>

        <div class="form-group">
            <label> Email Id</label>
            <input type="text" class ="form-control" id = "email_id"
                [(ngModel)] = "student.email_id" name = "email_id">
        </div>
    
        <div class="form-group">
            <label> PRN</label>
            <input type="text" class ="form-control" id = "prn"
                [(ngModel)] = "student.prn" name = "prn">
        </div>
    
        <div class="form-group">
            <label> DOB</label>
            <input type="date" class ="form-control" id = "dob"
                [(ngModel)] = "student.dob" name = "dob">
        </div>
    
        <div class="form-group">
            <label> Phone No</label>
            <input type="text" class ="form-control" id = "phone_no"
                [(ngModel)] = "student.phone_no" name = "phone_no">
        </div>
    
        <div class="form-group">
            <button class = "btn btn-success" type ="submit">Submit</button>
        </div>

    
    </form>
    </div> 

    